<div class='row'>
  <div class='col-md-12'>
    <!--=== 頁面標題 ===-->
    <h2><%= t('account-order-index') %></h2>

    <!--=== 使用者歷史訂單===-->
    <table class='table'>
      <!-- 歷程訂單列表標題 -->
      <thead>
        <tr>
          <th>#</th>
          <th><%= t('f-order-created-at') %></th>
        </tr>
      </thead>
      <!-- 歷程訂單列表內容 -->
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= link_to(order.id, order_path(order.token)) %>
            </td>
            <td>
              <%= order.created_at.to_s(:long) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
