<!--=== 修改分類 ===-->
<h2><%= t('category-edit') %></h2>

<!--=== 修改分類表單 ===-->
<%= simple_form_for [:admin, @category] do |f| %>

<div class="group">
  <%= f.input :name, :label => t('f-category-name') %>
</div>

<%= f.submit t('f-category-submit'), data: { disable_with: "Submitting..." } %>

<% end %>
