/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/transitions'
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*===== Fonts =====*/
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
// @import url(https://fonts.googleapis.com/css?family=Lobster);
// @import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);
@import url(https://fonts.googleapis.com/css?family=Acme);

/*===== 网站通用设置 ======*/
body {
  overflow-x: hidden; //裁剪内容 - 不提供滚动机制。
  letter-spacing: 1px;
  font-size: 14px;
  position: relative;
}

.container-fluid {
  margin-top: 55px;
}

/*===== Navbar 导览列 ======*/
.navbar.navbar-default {
  background: rgba(0,0,0,0.3);

  a:hover {
    color: #eb5424 !important;
  }

  &.show_bgcolor {
    background-color: #151D3E;
  }

  /*===== Logo ======*/
  .logo-box {
    margin-right: 15px;
    font-family: Acme;
    font-size: 24px;

    img {
      display: inline-block;
      margin-right: 10px;
      margin-left: 30px;
      width: 35px;
      height: 35px;
      margin-top: -6px
    }
  }

  /*===== Dropdown ======*/
  .dropdown-menu{
    background-color: #fff;
    min-width: 175px;
    // box-shadow: 0 5px 10px #aaa;

    a {
      color: #000;
      padding: 8px 17px;
      font-size: 14px;
    }

    a:hover {
      background-color: rgba(235, 84, 36, 0.5);
      color: #000 !important;
    }
  }

  /* 下拉选单三角箭头 */
  .dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
  }
}

/*===== Footer 页脚 ======*/
.footer{
  text-align: center;
  min-height: 250px;
  background-color: #002E2E;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;

  h4 {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  li {
    margin-top: 5px;
  }

  a {
    text-decoration:none;
    color: #ccc;
  }
  a:hover,
  a:active,
  a:focus {
    color: #4A6BB5;
  }

  img {
    width: 35px;
    margin: 5px;
  }

  img:hover {
    opacity: 0.75;
  }

  p {
    a {
      color: #4A6BB5;
    }
    a:hover {
      color: #35CCC6;
    }
  }

  .footer-box {
    text-align: left !important;
    margin-top: 15px;
  }

  .footer-content {
    font-size: 16px;
    font-family: Raleway;
    color: #ddd;
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight: 200;

    img {
      width: 25px;
      margin-left: 7.5px;
      margin-right: -0.1px;
    }

    img:hover {
      opacity: 1;
    }
  }
}

/*===== 首页通用设置 =====*/
.welcome-box {
  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  .short-line {
    background: #eb5424;
    margin: 15px auto 35px auto;
    width: 125px;
    height: 2px;
  }

  /*===== Button 按钮 =====*/
  .btn-push {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    padding: 10px 20px;
    font-size: 20px;
  }

  .btn-intro {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    padding: 10px 20px;
    font-size: 20px;
  }

  .btn-push:hover,
  .btn-intro:hover {
    // background-color: rgba(255, 255, 255, 0.75);
    background-color: rgba(235, 84, 36, 0.5);
    border-color: #eb5424;
    color: rgba(255, 255, 255, 0.9);
    // color: #eb5424;
  }

  .btn-push,
  .btn-intro {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .goTop {
    height: 35px;
    width: 35px;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    top: 90%;
    right: 3%;
    // display: none;
    box-shadow: 1px 1px 3px #666;

    span {
      color: #000;
      position: absolute;
      top: 8px;
      left: 8px;
      font-size: 20px;
    }
  }

  .goTop:hover {
    background-color: #4A6BB5;

    span{
      color: #fff;
    }
  }
}

/*===== Intro 首页-网站介绍 =====*/
.intro-box {

  /*===== 轮播内容 =====*/
  .item {
    h3 {
      color: #fff;
      font-size: 50px;
      font-weight: 700;
      letter-spacing: 5px;
      margin-top: -35%;
      text-shadow: 1px 1px 3px #333;
    }

    p {
      color: #f8f8f8;
      font-size: 22px;
      font-style: italic;
    }

    img {
      width: 100%;
    }
  }

  /*===== 换页按钮 =====*/
  .carousel-control {
    span {
      margin-top: 145%;
      font-size: 50px;
    }
  }
}

/*===== Story 首页-品牌故事 =====*/
.story-box {
  text-align: center;
  padding: 25px 0 50px 0;

  h3 {
    font-size: 20px;
    text-align: left;
  }

  p {
    color: #666;
    line-height: 30px;
    text-align: left;
  }

  img {
    width: 150px;
    border-radius: 50%;
  }

  hr {
    height: 1.5px;
    background-color: #999;
    margin: 30px 0 30px 0;
  }
}

/*===== Categories 首页-商品分类 =====*/
.categories-box {
  background-color: #F5F5F5;
  text-align: center;

  a {
    text-decoration:none;
    color: #002E2E;
  }

  img {
    width: 300px;
  }

  /*===== Content 分类內容 =====*/
  .category-content {
    padding: 50px 0 50px 0;

    border-right: 2.5px dashed #ccc;
    /*===== Box 分类图片 =====*/
    h3 {
      font-weight: 700;
      font-size: 18px;
    }

    p {
      text-align: left;
      letter-spacing: 1.5px;
      padding: 0 62.5px 0 62.5px;
      color: #666;
      line-height: 26px;
      min-height: 300px;
    }
  }
}

/*===== Show 首页-推荐商品 =====*/
.show-box {
  text-align: center;
  padding: 50px 0 50px 0;

  img {
    width: 100%;
  }

  .box {
	  margin-top: 15px;
	  box-shadow: 1px 1px 1.5px #ccc;
	}

  .three {
    margin-top: 12px;
  }

  .box:hover {
    opacity: 0.85;
  }
}

/*===== Brands 首页-合作伙伴 =====*/
.brand-box {
  background-color: #F5F5F5;
  text-align: center;
  padding: 50px 0 50px 0;

  img {
    margin: 25px 15px 35px 15px;
    width: 150px;
  }
}

/*===== Push 首页-立即购买 =====*/
.push-box {
  text-align: center;
  padding: 75px 0 0 0;
  height: 200px;
  background: image_url("start.jpg") no-repeat scroll top center/ cover;
}

/*===== Control 後台-控制選單 =====*/
.control-box{
  margin-top: 30px;
  max-width: 300px;
}
